.loader {
  height: 41rem;
  &__spinner {
    animation: rotate 2s cubic-bezier(0, 0.04, 1, 1) infinite;
    z-index: 2;
    position: absolute;
    top: 42%;
    left: 58%;
    margin: -25px 0 0 -25px;
    width: 5rem;
    height: 8rem;

    & .path {
      stroke: hsl(223.18deg 100% 61.12%);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}